<html>
	<head>
		<% include ../partials/minHead %>
		<script src="/javascript/profilePage.js"></script>
		<link href="/css/profile.css" rel="stylesheet"></link>
	</head>
	<body>
		<div flex layout="column" ng-app="homeApp">
      <div ng-controller="toolSideCtrl">
			  <% include ../partials/topToolbar %>
        <div id="mainBody" layout="row" layout-fill>
          <md-content flex layout="row" layout-sm="column" layout-wrap layout-align="center start" layout-align-sm="start center" id="content">
            <div ng-repeat="card in Restaurants">
              <div id="profileCard">
                <md-card>
                  <div layout="row" layout-align="center center">
                    <img ng-src="{{card.headerImage}}" class="md-card-image" id="loginImage"></img>
                  </div>
                  <md-card-content layout-align="center center"  layout="column">
                    <h2 class="md-title">{{card.title}}</h2>
                  </md-card-content>
                  <md-button ng-click="clickFunc(card._id)" class="md-raised md-primary">Edit</md-button>
                </md-card>
              </div>
            </div>
          </md-content>
          <span>
            <a href="/pages/createEditApp">
              <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                <md-icon md-svg-src="/bower_components/material-design-icons/action/svg/production/ic_note_add_48px.svg"></md-icon>
              </md-button>
            </a>
          </span>
        </div>

      </div>
    </div>
	</body>
</html>
